.pageNav {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 50px;
    align-content: center;
}


.pageButton {
    margin: 0 10px;
    background-color: rgb(14, 2, 73);
    border-radius: 25px;
    padding: 7px 14px;
    font-size: 1.1em;
    text-shadow: 0 0 1px black;
    color: white;
    transition: 0.3s;
}

.pageButton:hover{
    background-color: rgb(58, 46, 117);
}

.pageButton.active{
    background-color: #483993;
    cursor: default;
}

.pageNav span{
    padding: 7px 8px;
}
.pageNav span:hover{
    background-color: rgb(14, 2, 73);
}

