
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5d0f8;
}


.formBox {
    width: 400px;
    padding: 20px;
    background: rebeccapurple;
    opacity: 0.9;
    border-radius: 10px;
    color: white;
}


.addBookForm button {
    background: #2563eb;
    color: white;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.addBookForm input{
    width: 50%;
    height: 24px;
}

.addBookForm button:hover {
    background-color: #1d4ed8;
}
