.headerSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95px;
    background-color: white;
}

.headerLogo{
    display: flex;
    margin-left: 40px;
    margin-right: 310px;
    width: 8vw;
    flex-shrink: 2;

}

.headerLogo img{
    width: 130px;
    height: 70px;
}

.iconLarge{
    width: 100px;
    height: 100px;
    font-size: 60px !important;
    color: rebeccapurple;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    padding: 20px;
}

.iconSearch{
    font-size: 40px !important;
    position: relative;
    left: 50px;
}

.searchBar{
    display: flex;
    position: absolute;
    left: 30vw;
    align-items: center;

}

.searchBar input{
    width: 40vw;
    height: 50px;
    font-size: 30px;
    border-color: black;
    background-color: #EAE4FF;
    border-radius: 25px;
    padding: 20px 60px;
}

.searchBar input::placeholder{
    text-align: center;
}

.searchBar input:focus{
    border-color: rebeccapurple;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: #D3A0A0;
    height: 45px;
    width: 100%;
}

.leftButtons a{
    float: left;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    text-align: center;
    text-decoration: none;
}

.menu a:hover{
    background-color: #c78585;
}

.dropDown{
    margin-left: auto;
    width: auto;
    position: relative;
    color: black;
    font-size: 1.3em;
    padding: 7px 20px;
    transition: 0.3s;
    text-align: center;
}

.dropDown:hover{
    color: #e2e8f0;
    cursor: pointer;
}

.dropDownContent {
    display: none;
    z-index: 2;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #D3A0A0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropDown:hover .dropDownContent {
    display: block;
}

.dropDownContent a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dropDownContent a:hover {
    background-color: #c78585;
}

.arrow{
    margin-left: 8px;
}

.activeMenu{
    background-color: #bf7373;
}
