.headerSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95px;
    background-color: rgb(255, 239, 202);
}

.headerLogo{
    display: flex;
    margin-left: 40px;
    margin-right: 310px;
    width: 8vw;
    flex-shrink: 2;
}

.headerLogo img{
    width: 130px;
    height: 70px;
}

.iconLarge{
    width: 100px;
    height: 100px;
    font-size: 60px !important;
    color: rgb(14, 2, 73);
    margin-left: 800px;
    margin-right: 20px;
    text-align: center;
    padding: 20px;
    cursor:pointer;
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownContent {
    display: none;
    position: fixed;
    background-color: rgb(255, 239, 202);
    width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 70px;
    border-radius: 5px;
    border: 0.1px solid black
}

.dropDown:hover .dropDownContent {
    display: block;
}

.dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropDownContent a:hover {
    background-color: #face77;
}


.iconSearch{
    font-size: 32px !important;
    position: relative;
    left: 50px;
}

.searchBar{
    display: flex;
    position: absolute;
    left: 30vw;
    align-items: center;

}

.searchBar input{
    width: 40vw;
    height: 50px;
    font-size: 22px;
    border-color: black;
    background-color: #eae4ff;
    border-radius: 25px;
    padding: 20px 60px;
}

.searchBar input::placeholder{
    text-align: center;
}

.searchBar input:focus{
    border-color: rebeccapurple;
}


.menu {
    background-color:rgb(14, 2, 73);
    height: 45px;
    width: 100%;
}

.menu a{
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    padding: 7px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

.menu a:hover{
    background-color:rgb(58, 46, 117);
}

.leftButtons a{
    float: left;
    margin-right: auto;
}

.rightButtons a{
    float: right;
    margin-left: auto;
}

.activeMenu{
    background-color:rgb(58, 46, 117);
}
