.menu {
    background-color: mediumpurple;
    height: 60px;
    width: 100%;
    z-index: 1
}

.menu a{
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    text-align: center;
    text-decoration: none;
}

.menu a:hover{
    background-color: rebeccapurple;
}

.leftButtons a{
    float: left;
    margin-right: auto;
}

.rightButtons a{
    float: right;
    margin-left: auto;
}
